# Jupyter Notebook
**/.ipynb_checkpoints/

# Data repositories
**/output/
**/raw_data/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datafiles
*.csv
*.Robj
*.tsv
*.gz
*.csv
*.h5
*.stats.*

# Bioinfo datafiles
*.sam
*.fa
*.bt2
*.out*
*.fq*
*.gtf
*.bam*

*.bed

# Bioinfo reference databases
**/star/

# Specific to YAP
**/yap_demultiplex
**/demultiplex
all_rna_readnames.txt
